.hideOnLogout,
.showOnLogin.hideNow,.hide{
	display: none;
}
.hideOnLogout.showNow{
	display: block;
}

.vjs-default-skin.vjs-has-started .vjs-control-bar {
visibility: hidden;
}
.video-bg{
	position: relative;
}
.video-bg:after{
	position: absolute;;
	left: 0;
	right:0;
	top: 0;
	bottom: 0;
	content: "";
	z-index: 1;
}
.headerText{
	z-index: 2;
}

.mutebutton{

	position: absolute;
	display: block;
	bottom: 0;
	left: 0;
}
.mutebutton {
   position: absolute;
    display: block;
    height: 32px;
    border-radius: 31px;
    /*bottom: -140px;*/
    margin-left: 5px;
    margin-bottom: 5px;
    z-index: 9999999;
    background: white;
    left: 0;
    cursor: pointer;
}
.skiptranslate.goog-te-gadget a.goog-te-menu-value{
	    font-size: 10px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.innerMenu ul,.nav ul{margin-right: 180px;}
.innerMenu{width: 900px;}
.innerMenu ul:after,.nav ul:after{clear: both;}
.headerText .main,.innerHeader .main{position: relative;}
.google-translator-container{width: 170px;position: absolute;right: 0;}

.goog-te-banner-frame.skiptranslate {display: none !important;} 
body { top: 0px !important; }

.innerMenu ul li{width: 142px;}
.innerMenu ul li{padding: 0;}
.innerMenu ul li a{ text-align: center;}


.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}