<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Neva Ventures">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <title>Easy Park</title>
    <!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
    <link rel="stylesheet" type="text/css" href="styles/css/sweet-alert.css">
    <link rel="stylesheet" type="text/css" href="styles/css/sign-in.css">
    <link rel="stylesheet" type="text/css" href="styles/css/intlTelInput.css">
    <link rel="stylesheet" type="text/css" href="styles/css/loading-bar.min.css">
    <!--Remodal-->
    <link rel="stylesheet" type="text/css" href="styles/css/remodal.css">
    <link rel="stylesheet" type="text/css" href="styles/css/remodal-default-theme.css">

    <!--common-part-->
    <link rel="stylesheet" type="text/css" href="styles/css/common.css">
    <script type="text/javascript" src="app/common.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <!--common-part-->
    
  </head>
  <body ng-controller="logincont" ng-init="init();">
    <!-- Header Start -->
    <div class="innerHeader">
      <div class="main">
        <div ng-include="'templates/header-inner.html'" scope="" onload=""></div>
        <div class="google-translator-container">
          <div class="googleTranslate">
            <div id="google_translate_element"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <!-- Header End -->
    <!-- Sign Up Start -->
    <div class="main">
      <div class="signUp">
        <h1 class="nospace">Sign In</h1>
        <form name="signup_form" ng-submit="login(signup_form)" novalidate>
          <table>
            
            <tr>
              <td>
                <!-- <div class="selectBox"> -->
                <!-- <select ng-model="user.countryCode" ng-options="item as item.label for item in country_codes track by item.id" class="countryCode selectBox ng-pristine ng-valid ng-not-empty ng-touched"><option label="+41" value="41" selected="selected">+41</option><option label="+42" value="42">+42</option></select>-->
                <input type="text" id="first_field" class="phoneNumber" placeholder="Enter Number" name="phoneNumber" ng-model="phoneNumber" autocomplete="off" required>
                <div class="clear"></div>
                <p ng-class="{'error' : signup_form.$submitted && signup_form.phoneNumber.$invalid && !userForm.phoneNumber.$pristine , 'hide' : !signup_form.$submitted || signup_form.phoneNumber.$valid}"  class="help-block hide">Please enter your number</p>
                <!-- </div> -->
              </td>
            </tr>
            
            <tr>
              <td>
                <div class="passDiv marginInput">
                  <input type="{{inputType}}" placeholder="Enter Password" class="noBorder" name="password" ng-model="pass" autocomplete="off" required>
                  <a href="" ng-click="hideShowPassword();">
                  <img ng-src="{{default_png}}" src="assets/images/visible.png"></a>
                  <div class="clear"></div>
                  
                </div>
                <p ng-class="{'error' : signup_form.$submitted && signup_form.password.$invalid && !userForm.password.$pristine , 'hide' : !signup_form.$submitted || signup_form.password.$valid}"  class="help-block hide">Please enter your password</p></td>
              </tr>
              <tr>
                <td><div class="signForget">
                  <div class="left"><input type="checkbox" ng-checked="checked" ng-model="rememberMe"> Remember Me</div>
                  <div class="right"> <a href="#" id="modal-forget_pass">Forgot Password?</a></div>
                  <div class="clear"></div>
                </div></td>
              </tr>
              <tr>
                <td><input type="submit" value="Sign In" class="signUpBtn"></td>
              </tr>
            </table>
          </form>
          <div class="agreement agreementColor">
            New to EasyPark?<span><a href="sign-up.html"> &nbsp; &nbsp; Sign Up</a></span>
            
          </div>
        </div>
      </div>
      <div class="remodal-bg"></div>
      <!--Remodal forget step-1 Html-->
      <div class="remodal" data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
          <div class="forgetPass">
            <form ng-submit="send_otp_code(phonenumber_form)" name="phonenumber_form">
              <img src="assets/images/key.png">
              <h1 class="nospace">Forgot password ?</h1>
              <p class="nospace">Enter your mobile number and receive an<br>
              SMS code to reset your password</p>
              <input type="text" required="" placeholder="Enter number" name="phoneNumber" ng-model='forget_mobile_number' class="textCode">
              
              <!--<div ng-class="{'' : phonenumber_form.$submitted , 'hide'  : !phonenumber_form.$submitted || phonenumber_form.$invalid}" class="hide"  ng-messages="phonenumber_form.phoneNumber.$error">
                <p class="validation-error text-center" ng-message="required">Phone number is required</p>
              </div> -->
              <input type="submit" value="Send code" class="sendCode">
            </form>
          </div>
        </div>
      </div>
      <!--Remodal forget step-1 Html-->
      
      <!--Remodal forget step-2 Html-->
      <div class="remodal" data-remodal-id="modal-validate-otp" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
          <div class="forgetPass">
            <form ng-submit="validate_otp(otp_form)" name="otp_form">
              <img src="assets/images/mobile-icon.png">
              <input type="text" required="" placeholder="Enter your 4 digit code" name="otp" ng-model='_otp' class="digitCode">
              <h2 class="nospace" ng-click="resend_otp()">RESEND OTP</h2>
              <p class="text-center success-message" ng-bind="set_resnd_otp_message"></p>
              <!--<div ng-class="{'' : otp_form.$submitted , 'hide'  : !otp_form.$submitted}" class="hide"  ng-messages="otp_form.otp.$error">
                <p class="validation-error text-center" ng-message="required">Otp is required</p>
              </div>-->
              <input type="submit" value="Submit" class="sendCode">
            </form>
          </div>
        </div>
      </div>
      <!--Remodal forget step-2 Html-->
      <!--Remodal forget step-3 Html-->
      <div class="remodal" data-remodal-id="modal-reset-password" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
        <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
        <div>
          <div class="forgetPass">
            <form ng-submit="reset_password(pass_reset_form)" name="pass_reset_form">
              <img src="assets/images/lock.png">
              <h1 class="nospace">reset your password</h1>
              <div class="form-group">
                <input type="{{inputType}}" name="rpass" required placeholder="*********" ng-model='_r_password' class="textCode passBack no-bg" minlength="8">
                <a href="" ng-click="hideShowPassword();" class="pass-toggle"><img ng-src="{{default_png}}" src="assets/images/visible.png"></a>
              </div>
              <!--<div ng-class="{'' : pass_reset_form.$submitted , 'hide'  : !pass_reset_form.$submitted}" class="hide"  ng-messages="pass_reset_form.rpass.$error">
                <p class="validation-error text-center" ng-message="required">New password is required</p>
                <p class="validation-error text-center" ng-message="minlength">Password should not be less than 8 characters</p>
              </div> -->
              <p class="validation-error text-center" ng-bind="error_expression3"></p>
              <input type="submit" value="Save" class="sendCode">
            </form>
          </div>
        </div>
      </div>
      <!--Remodal forget step-3 Html-->
      <!-- Sign Up Close -->
      <!-- Footer Inner Start -->
      
      <div ng-include="'templates/footer-inner.html'"></div>
      <!-- Footer Inner Start -->
      <script type="text/javascript" src="../vendor/requirejs/require.js" ></script>
      <script type="text/javascript" src="app/config.js" ></script>
      <script type="text/javascript" src="app/angular_modules/Sign-in/sign-inbootstrap.js"></script>
      
      <script type="text/javascript" src="app/Webjs/utils.js"></script>
    </body>
  </html>