<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <meta name="description" content="Neva Ventures">
      <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
      <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
      <title>Easy Park</title>
      <link rel="stylesheet" type="text/css" href="styles/css/style-history.css">
      <link rel="stylesheet" href="styles/css/jquery-ui.css" />
      <link rel="stylesheet" type="text/css" href="styles/css/sweet-alert.css">
      <link rel="stylesheet" type="text/css" href="styles/css/loading-bar.min.css">
      <!--common-part-->
      <link rel="stylesheet" type="text/css" href="styles/css/common.css">
      <script type="text/javascript" src="app/common.js"></script>
      <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <!--common-part-->
      
      
      <!-- <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->
   </head>
   <body ng-controller="HistoryController">
      <!-- Header Start -->
      <div class="innerHeader">
         <div class="main">
            <div ng-include="'templates/header-inner.html'" scope="" onload=""></div>
            <div class="google-translator-container">
               <div class="googleTranslate">
                  <div id="google_translate_element"></div>
               </div>
            </div>
            <div class="clear">
            </div>
         </div>
      </div>
      <!-- Header End -->
      <!-- Banner Start -->
      <div class="innerBanner">
         <h1 class="nospace">More life, less parking</h1>
      </div>
      <!-- Banner End -->
      <!-- Content Start -->
      <div class="smallMain">
         <div class="innerContent">
            <h1 class="nospace"><img src="assets/images/filter.png">Filter</h1>
            <div class="timeFrame">
               <h2 class="nospace left">Timeframe</h2>
               <ul class="nospace right frameHeading">
                  <li ng-repeat="a in ar.slice().reverse()"ng-cloak><a href="#"  ng-bind="a" ></a></li>
               </ul>
               <div class="clear"></div>
            </div>
            <div class="timeFrame">
               <h2 class="nospace left">car</h2>
               <ul class="nospace right frameHeading"  >
                  <li ng-repeat="car in parkings" ng-cloak ><a href="#" ng-bind="car.carLicenseNo"></a></li>
               </ul>
               <div class="clear"></div>
            </div>
            <div class="timeFrame">
               <h2 class="nospace left">city</h2>
               <ul class="nospace right frameHeading">
                  <li><a href=""> Stockholm</a></li>
                  <li><a href=""> Uppsala</a></li>
               </ul>
               <div class="clear"></div>
            </div>
         </div>
         <!-- innerContent End -->
         <div class="filterPark">
            FILTER PARKS <a href=""> <img src="assets/images/next-arrow.png"></a>
         </div>
         <!-- Filter Park End -->
         <div class="reportExpand hide" id="accordion" ng-class="{'hide' : noparkings, '' : !noparkings}">
            <div class="parking" ng-repeat="parking_item in parkings">
               <h3 class="nospace">
               <div class="left mapImage"><img src="assets/images/map-listing.png"></div>
               <div class="left parkContent">
                  <h1 class="nospace" ng-bind="parking_item.areaName"></h1>
                  <h2 class="nospace">Hamngatan, 37, 111 53, Stockholm...</h2>
               </div>
               <div class="left parkDate">{{parking_item.startDate | dateFilter : 'MMMM dd, yyyy'}}</div>
               <div class="left parkTime">{{parking_item.startDate | dateFilter : 'hh:mm'}}<span>-</span>{{parking_item.endDate | dateFilter : 'hh:mm'}}</div>
               <div class="left parkarea">{{parking_item.currency}} {{parking_item.totalFeeVat}}</div>
               <div class="clear"></div>
               </h3>
               <div class="expandDiv">
                  <div class="left mapIframe">
                     <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options"></ui-gmap-google-map>
                  </div>
                  <div class="left parkingZone">
                     <h2 class="nospace">{{parking_item.startDate | dateFilter : 'MMMM dd, yyyy'}}</h2>
                     <p class="nospace"  ng-bind="parking_item.areaName"></p>
                     <div class="redGreen">
                        <p class="nospace startTime">{{parking_item.startDate | dateFilter : 'hh:mm'}}</p>
                        <p class="nospace stopTime">{{parking_item.endDate | dateFilter : 'hh:mm'}}</p>
                     </div>
                     <h3 class="nospace"> {{parking_item.currency}} {{parking_item.totalFeeVat}}</h3>
                  </div>
                  <div class="left editNotes">
                     <div class="left noteHead">NOTES</div>
                     <div class="right editNote"><img src="assets/images/edit-notes.png"></div>
                     <div class="clear"></div>
                     <p class="nospace">Nulla et dictum est. Aenean vel ornare ligula, sed efficitur velit. Donec pretium ullamcorper hendrerit. Quisque vehicula venenatis neque faucibus dapibus. In eget ornare nisi. The notes can be reduced or restricted to certain numb...</p>
                  </div>
                  <div class="clear"></div>
                  <div class="ButtonMailDown">
                     <a href=""> <img src="assets/images/download.png"></a>
                     <a href=""><img src="assets/images/mail.png"></a>
                  </div>
               </div>
               <!-- Expand Content End -->
            </div>
            <div class="expandAll">
               <p class="nospace">4 more</p>
               <img src="assets/images/down-arrow.png">
            </div>
         </div>
         <!-- Report Expand End -->
      </div>
      <!-- Content End -->
      <ng-include src="'templates/footer-inner.html'" scope="" onload=""></ng-include>
      
      <script type="text/javascript" src="../vendor/requirejs/require.js" ></script>
      <script type="text/javascript" src="app/config.js" ></script>
      <script type="text/javascript" src="app/angular_modules/history/history-bootstrap.js"></script>
   </body>
</html>