<!--Footer Inner Start -->
<div class="innerFooter">
   <div class="main">
      <div class="left innerLink">
         <ul class="nospace pagesLink">
            <li><a href="news">News</a></li>
            <li><a href="">Email us</a></li>
            <li><a href="">Call us </a></li>
            <li><a href="faqs">FAQs</a></li>
            <li><a href="terms">T&amp;Cs</a></li>
         </ul>
         <div class="clear"> </div>
         <div class="getTheApp">
            <ul class="nospace appLinks">
               <li class="appText">GET THE APP</li>
               <li><a href=""><img src="assets/images/android.png"></a></li>
               <!--                <li><a href=""><img src="assets/images/android.png"></a></li>
               <li><a href=""><img src="assets/images/android.png"></a></li> -->
            </ul>
            <div class="clear"></div>
         </div>
         <div class="copyRightInner">EasyPark © 2016</div>
      </div>
      <div class="right innerSearch">
         <div class="footerSearch">
            <ng-include src="'templates/search-bar.html'" scope="" onload=""></ng-include>
         </div>
         <div class="socialIconInner">
            <div  ng-include="'templates/socials.html'" ></div>
         </div>
      </div>
      <div class="clear"></div>
   </div>
</div>
<!-- Footer Inner Start