<div class="left innerLogo">
   <a href="index"><img src="assets/images/inner-logo.png"></a>
</div>
<div class="right innerMenu">
   <ul class="nospace">
      <li><a href="index"> Home</a></li>
      <li class="hideOnLogout"  ng-class="{'showNow' : loggedIn}"><a href="payment">Profile</a></li>
      <li class="hideOnLogout" ng-class="{'showNow' : loggedIn}"><a href="history">History</a></li>
      <li><a href="">Help</a></li>
      <li class="showOnLogin" ng-class="{'hideNow' : !loggedIn}"><a href="" onclick="logout()" >Sign Out</a></li>
      <div class="clear"></div>
   </ul>
</div>