//colors
$color_red_violet_approx: #bb207b;
$white: #fff;
$black: #000;
$color_cape_cod_approx: #434343;
$color_star_dust_approx: #a0a0a0;
$color_cerise_approx: #dd1f83;
$color_plum_approx: #862a85;
$color_storm_dust_approx: #666666;
$color_iron_approx: #d6d6d6;
$color_black_haze_approx: #f7f7f7;
$color_mountain_mist_approx: #969696;
$color_rose_approx: #e8128a;
$color_alto_approx: #dfdede;
$color_tundora_approx: #464646;
$color_cararra_approx: #ebe9eb;
$color_log_cabin_approx: #222222;
$color_silver_chalice_approx: #b0b0b0;
$color_heavy_metal_approx: #2c2c2c;
$color_hollywood_cerise_approx: #ec008c;
$color_seashell_approx: #f1f0f1;
$color_celeste_approx: #cdcdcd;
$color_fresh_eggplant_approx: #9d0660;
$color_hopbush_approx: #c77ba8;
$color_gray_nurse_approx: #e8e8e8;
$color_rangoon_green_approx: #191919;
$color_shady_lady_approx: #a7a7a7;
$color_gunsmoke_approx: #848484;
$color_wild_sand_approx: #f5f5f5;
$color_concord_approx: #7b7b7b;
$color_dove_gray_approx: #6d6d6d;

//fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;

//urls
$url_0: url(//demosthenes.info/asse../../assets/images/polina.jpg);
$url_1: url(../../assets/images/gradient.jpg);
$url_2: url(../../assets/images/park-area-object.png);
$url_3: url(../../assets/images/search-icon-black.png);
$url_4: url(../../assets/images/report-banner.jpg);
$url_5: url(../../assets/images/time-background.png);

body {
  margin: 0;
  font-family: $font_0, $font_1, $font_2;
}
.nospace {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.main {
  width: 1270px;
  margin: auto;
  padding: 0;
}
.smallMain {
  width: 1000px;
  margin: auto;
  padding: 0;
}
video {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translateX(-50%) translateY(0%);
  background: $url_0 no-repeat;
  background-size: cover;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: 1s opacity;
}
.stopfade {
  opacity: .5;
}
.headerText {
  border-top: 6px solid $color_red_violet_approx;
  padding: 2% 0 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: transparent;
}
.logo {
  width: 20%;
}
.nav {
  width: 60%;
  ul li {
    float: left;
    list-style: none;
    width: 150px;
    border-right: 1px solid $white;
    padding: 0 3%;
    text-align: center;
    &:last-child {
      border-right: none;
    }
    a {
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase;
      color: $white;
      font-weight: bold;
      font-size: 15px;
      vertical-align: middle;
      //Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
      text-shadow: 1px 0 $black;
    }
  }
}
.bannerText {
  margin: 60px 0;
  text-align: center;
  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }
  h2 {
    font-size: 93px;
    font-weight: normal;
    color: $color_star_dust_approx;
  }
  span {
    font-weight: bold;
    color: $color_cerise_approx;
  }
  h3 {
    color: $color_plum_approx;
    font-size: 93px;
  }
}
.savetime {
  font-size: 25px;
  color: $color_cape_cod_approx;
  padding: 10px 0;
}
.totalSaved {
  font-size: 20px;
  text-transform: uppercase;
  color: $color_storm_dust_approx;
}
.choosePark {
  background: $url_1;
  color: $white;
  text-align: center;
  margin: -4px 0 0;
  padding: 35px 0;
  h1 {
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
  }
  input {
    border: 2px solid $white;
    background: none;
    padding: 15px;
    outline: 0;
    color: $white;
    text-transform: uppercase;
    width: 20%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    margin: 20px 0;
    cursor: pointer;
  }
}
.textMeApp {
  background: $color_black_haze_approx $url_2 645px no-repeat;
  height: 621px;
}
.textArea {
  width: 500px;
  padding: 167px 0 0;
  h1 {
    font-size: 26px;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
  }
}
input {
  &.enterNo {
    border: 1px solid $color_mountain_mist_approx;
    background: none;
    padding: 15px;
    text-transform: uppercase;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    margin: 20px 0;
  }
  &.appText {
    background: $color_rose_approx;
    border: none;
    width: 96%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 4px;
    color: $white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 0 20px;
  }
}
.testimonialLeft {
  width: 580px;
  border-right: 2px solid $color_alto_approx;
  padding: 50px 50px 0 30px;
  text-align: center;
  p {
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0 0;
  }
}
.owlContent {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}
.contentGeneral {
  font-size: 27px !important;
}
.serves {
  padding: 50px 0 10px;
}
.owlInner {
  margin: 50px 0 0;
}
.innerContent {
  background: $color_seashell_approx;
  margin: -207px 0 0;
  padding: 30px 0 0;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px 5px 0 0;
  h1 {
    font-size: 20px;
    font-weight: normal;
    padding: 0 120px;
    font-size: 18px;
    text-transform: uppercase;
    color: $color_cape_cod_approx;
    img {
      margin: 0 12px 0 0;
    }
  }
  p {
    font-size: 15px;
  }
}
.borderBottom {
  border-top: 1px solid $color_alto_approx;
  margin: 0 100px 60px;
}
.ourPartner {
  text-align: center;
  padding: 0 0 60px;
  h1 {
    font-weight: normal;
    color: $color_tundora_approx;
    font-size: 30px;
  }
}
.partnerLogo {
  padding: 60px 0 0;
  ul li {
    list-style: none;
    float: left;
    width: 250px;
    text-align: center;
  }
}
.bottmNav {
  border-top: 1px solid $color_cararra_approx;
  padding: 30px 0;
  margin: 0 174px;
}
.search {
  width: 300px;
  input {
    width: 100%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50px;
    border: none;
    padding: 15px 20px;
    color: $color_mountain_mist_approx;
    font-size: 17px;
    background: $color_alto_approx $url_3 95% no-repeat;
    background-size: 7%;
    outline: 0;
  }
}
.navLinks {
  padding: 15px 0 0;
  ul li {
    color: $color_log_cabin_approx;
    list-style: none;
    float: left;
    width: 135px;
    border-right: 2px solid $color_alto_approx;
    text-align: center;
    font-size: 20px;
    a {
      color: $color_log_cabin_approx;
      text-decoration: none;
    }
  }
}
.footer {
  background: $color_alto_approx;
  padding: 20px 0;
}
.copyRight {
  color: $color_mountain_mist_approx;
  font-size: 18px;
  padding: 10px 0;
}
.innerHeader {
  padding: 35px 0;
}
.innerLogo {
  width: 250px;
}
.innerMenu {
  width: 800px;
  ul li {
    list-style: none;
    float: left;
    text-transform: uppercase;
    padding: 0 47px;
    a {
      text-decoration: none;
      color: $color_silver_chalice_approx;
      font-size: 16px;
      padding: 13px 0;
      display: block;
      &:hover {
        color: $color_heavy_metal_approx;
        border-bottom: 2px solid $color_hollywood_cerise_approx;
      }
    }
  }
}
.innerBanner {
  background: $url_4 no-repeat;
  background-size: 100%;
  height: 478px;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  h1 {
    padding: 120px 0;
    font-size: 28px;
  }
}
.timeFrame {
  border-bottom: 1px solid $color_celeste_approx;
  padding: 30px 120px;
  &:last-child {
    border-bottom: 0;
  }
  h2 {
    color: $color_fresh_eggplant_approx;
    font-size: 16px;
    text-transform: uppercase;
    width: 120px;
    padding: 10px 0;
  }
}
ul {
  &.frameHeading {
    width: 630px;
    li {
      list-style: none;
      float: left;
      color: $white;
      a {
        text-decoration: none;
        color: $white;
        display: block;
        background: $color_hopbush_approx;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 5px;
        width: 100px;
        padding: 10px;
        text-align: center;
        margin: 0 28px 0 0;
        font-size: 16px;
        font-weight: bold;
        border: 2px solid $color_fresh_eggplant_approx;
        &:hover {
          background: $color_hollywood_cerise_approx;
          border: 2px solid $color_hollywood_cerise_approx;
        }
      }
    }
  }
  &.appLinks {
    font-size: 18px;
    color: $color_concord_approx;
    li {
      padding: 0 20px 0 0;
    }
  }
  &.pagesLink li {
    padding: 10px 0;
    width: 100px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    a {
      color: $color_concord_approx;
      text-decoration: none;
      display: block;
      border-right: 1px solid $color_concord_approx;
    }
  }
}
.filterPark {
  background: $color_plum_approx;
  color: $white;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
  img {
    padding: 0 0 0 20px;
  }
}
.reportExpand {
  border: 1px solid $color_gray_nurse_approx !important;
  border-top: 0 !important;
  h3 {
    border: none;
    background: none;
    border-bottom: 1px solid $color_gray_nurse_approx;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0;
  }
}
.mapImage {
  width: 70px;
}
.parkContent {
  width: 280px;
  h1 {
    font-size: 18px;
    font-weight: normal;
    color: $color_rangoon_green_approx;
  }
  h2 {
    font-size: 14px;
    font-weight: normal;
    color: $color_rangoon_green_approx;
  }
}
.parkDate {
  width: 200px;
  color: $color_heavy_metal_approx;
  font-size: 16px;
  padding: 16px 0;
  text-align: center;
}
.parkTime {
  width: 200px;
  color: $color_log_cabin_approx;
  font-size: 20px;
  padding: 14px 0;
  text-align: center;
  span {
    color: $color_shady_lady_approx;
    padding: 0 8px;
  }
}
.parkarea {
  color: $color_plum_approx;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 0;
  text-align: right;
  width: 150px;
}
.expandDiv {
  padding: 0 !important;
  height: 341px !important;
  border-bottom: 1px solid $color_gray_nurse_approx !important;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0 !important;
}
.mapIframe {
  width: 323px;
  height: 341px;
}
.parkingZone {
  width: 223px;
  padding: 30px 40px;
  h2 {
    color: $color_gunsmoke_approx;
    font-weight: normal;
    font-size: 18px;
  }
  p {
    color: $color_rangoon_green_approx;
    font-size: 23px;
    font-weight: bold;
    padding: 10px 0;
  }
  h3 {
    color: $color_plum_approx;
    border: 1px solid $color_iron_approx;
    padding: 10px;
    font-size: 30px;
    width: 180px;
    text-align: center;
    cursor: pointer;
  }
}
.editNotes {
  width: 250px;
  padding: 30px 0;
  p {
    line-height: 28px;
    font-size: 18px;
    color: $color_rangoon_green_approx;
    padding: 10px 0 0;
  }
}
.noteHead {
  color: $color_gunsmoke_approx;
  font-size: 18px;
}
.ButtonMailDown {
  float: right;
  margin: -52px 20px 0 0;
  img {
    padding: 0 0 0 20px;
  }
}
.redGreen {
  background: $url_5 no-repeat left;
  padding: 0 0 0 30px;
  margin: 15px 0;
}
.expandAll {
  background: none !important;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 0 !important;
  border: 0 !important;
  text-align: center;
  padding: 10px 0 !important;
  color: $color_gunsmoke_approx !important;
  font-size: 15px !important;
  span {
    display: none;
  }
}
.innerFooter {
  background: $color_wild_sand_approx;
  border-top: 1px solid $color_cararra_approx;
  padding: 30px 0;
  margin: 60px 0 0;
}
.innerLink {
  width: 700px;
  ul li {
    list-style: none;
    float: left;
  }
}
.getTheApp {
  margin: 20px 15px;
}
.appText {
  margin: 8px 0;
}
.copyRightInner {
  color: $color_mountain_mist_approx;
  font-size: 16px;
  padding: 0 0 0 15px;
}
.innerSearch {
  width: 300px;
}
.footerSearch {
  input {
    width: 87%;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 50px;
    border: none;
    padding: 10px 20px;
    color: $color_mountain_mist_approx;
    font-size: 14px;
    background: $color_alto_approx $url_3 95% no-repeat;
    background-size: 7%;
    outline: 0;
    &:-moz-placeholder {
      color: $color_dove_gray_approx;
    }
    &:-ms-input-placeholder {
      color: $color_dove_gray_approx;
    }
  }
  input::-webkit-input-placeholder {
    color: $color_dove_gray_approx;
  }
  input::-moz-placeholder {
    color: $color_dove_gray_approx;
  }
}
.socialIconInner {
  float: right;
  margin: 40px 0;
  ul li {
    list-style: none;
    float: left;
    padding: 0 10px;
  }
}
.hide {
  display: none;
}
.parking {
  position: relative;
}
.angular-google-map {
  width: 100%;
  height: 100%;
}
.angular-google-map-container {
  width: 100%;
  height: 100%;
}
.mapArea iframe {
  height: 450px;
  border-top: 1px solid $color_iron_approx;
  border-bottom: 1px solid $color_iron_approx;
}
.Enterph input {
  display: block;
  width: 90%;
}
.socialIcon ul li {
  list-style: none;
  float: left;
  padding: 0 10px;
}
p.nospace {
  &.stopTime {
    padding: 30px 0 0;
  }
  &.startTime {
    padding: 0;
  }
}
div.ui-state-default.ui-accordion-header {
  padding: 0;
}
.ui-accordion-header h3 {
  padding: 20px;
}
.ui-accordion .ui-accordion-header span.ui-icon.ui-accordion-header-icon {
  top: 11%;
}